
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.V4FileServer/css/mine/agreement.css" />
}
<header class="header flex justify-content-between">
    <a href="/" class="arrow"></a>
    <span class="header-title">协议及声明</span>
    <span class=""></span>
</header>

<section class="mt list">
    <ul>
        <li><a href="">隐私协议<i class="arrow"></i></a></li>
        <li><a href="">服务条款<i class="arrow"></i></a></li>
        <li><a href="">免责声明<i class="arrow"></i></a></li>
    </ul>
</section>
