
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.V4FileServer/css/mine/mine-follow.css" />
    <link rel="stylesheet" href="@ViewBag.V4FileServer/css/mine/mine-reply.css" />
    <link rel="stylesheet" href="@ViewBag.V4FileServer/css/mine/mine-like.css" />
}
<section>
    <ul class="tab flex justify-content-between text-center">
        <li class="active">点评</li>
        <li>问答</li>
    </ul>
</section>

<section>
    <div class="content"></div>
</section>
@section js{
    <script src="@ViewBag.V4FileServer/js/mine/mine-like.js"></script>
}

